<html>

<head>
    <title>Moviena | Search Results</title>
</head>

<body>
    <% if (output.total_results < 1) { %>
        <h2>NO RESULTS</h2><hr>
        <p>There were no matches for your search term.</p>
    <% } else { %>
        <h2>FOUND <%= output.total_results > 250 ? "AT LEAST 250" : output.total_results %> <%= output.total_results == 1 ? "FILM" : "FILMS" %> MATCHING "<%= query.toUpperCase() %>"</h2><hr>
        <% output.data.forEach(result => { %>
            <a href="/film/<%= result.id %>"><h3><%= result.title %></h3></a>
            <p><%= result.year ? result.year : "" %></p>
            <img src="<%= result.img %>" alt="No Poster" height="120" width="80">
            <p><%= result.overview %></p>
        <% }) %>
        <!-- DEVELOPMENT -->
        <p>Page: 
            <% if (output.page != 1) { %>
                <a href="/search/films/<%= query %>/page/<%= output.page - 1 %>">Previous</a>
            <% } %>
            <% for (let i = 1; i <= output.total_pages; i++) { %>
                <% if (i == output.page) { %>
                    <span> <%= i %> </span>
                <% } else { %> 
                    <a href="/results/<%= i %>"><%= i %></a>
                <% } %>
            <% } %>
            <% if (output.page != output.total_pages) { %>
                <a href="/search/films/<%= query %>/page/<%= output.page + 1 %>">Next</a>
            <% } %>
        </p>
    <% } %>

</body>

</html>