<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">

    <title>Moviena | Search Results</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand ml-2" href="/search"><img src="/logo2.png" height="30"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavBar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="NavBar">
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item active">
                        <a class="nav-link" href="/search"> Home </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row row-content">
            <% if (output.total_results < 1) { %>
                <p class="text-muted">NO RESULTS</p><hr>
                <p class="text-muted">There were no matches for your search term.</p>
            <% } else if (output.data[0].title) { %>
                <p class="border-bottom text-muted">FOUND <%= output.total_results > 250 ? "AT LEAST 250" : output.total_results %> <%= output.total_results == 1 ? "FILM" : "FILMS" %> MATCHING "<%= query.toUpperCase() %>"</p>
            <% } else if (output.data[0].name) { %>
                <p class="border-bottom text-muted">FOUND <%= output.total_results > 250 ? "AT LEAST 250" : output.total_results %> <%= output.total_results == 1 ? "RESULT" : "RESULTS" %> MATCHING "<%= query.toUpperCase() %>"</p>
            <% } %>
        </div>
        <div class="row">
            <ul class="list-unstyled">
                <% output.data.forEach(result => { %>
                    <li class="media border-bottom p-3">
                        <% if (result.img) { %>
                            <img class="border rounded border-light align-self-start mr-3" src="<%= result.img %>" height="120" width="80">
                        <% } else { %>
                            <img class="border rounded border-light align-self-start mr-3" src="/noPoster.png" height="120" width="80">
                        <% } %>
                        <div class="media-body">
                            <% if (result.title) { %>
                                <a href="/film/<%= result.id %>">
                                    <h5 class="text-light mt-0 mb-1"><%= result.title %></h5>
                                </a>
                                <p class="text-muted"><%= result.year ? result.year : "" %></p>
                                <p class="text-muted"><%= result.overview %></p>
                            <% } else if (result.name) { %>
                                <a href="/people/<%= result.id %>">
                                    <h5 class="text-light mt-0 mb-1"><%= result.name %></h5>
                                </a>
                                <% if (result.movies) { %>
                                    <span class="text-muted">KNOWN FOR</span>
                                    <p>
                                    <% result.movies.forEach(film => { %>
                                        <a class="badge badge-secondary text-muted" href="/film/<%= film.id %>"><%= film.title %></a>
                                    <% }) %>
                                    </p>
                                <% } %>
                            <% } %>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>

    <nav>
        <ul class="pagination justify-content-center"> 
            <li class="page-item <%= output.page == 1 ? "disabled" : "" %>">
                <a class="page-link" href="/search/films/<%= query %>/page/<%= output.page - 1 %>">Previous</a>
            </li>
            <% let begin = (output.page % 10 == 0) ? output.page - 9 : output.page - (output.page % 10) + 1; 
            let end = (begin + 10 > output.total_pages) ? output.total_pages : begin + 9 %>
            <% for (let i = begin; i <= end; i++) { %>
                <li class="page-item <%= i == output.page ? "disabled" : "" %>"> 
                    <a class="page-link" href="/search/films/<%= query %>/page/<%= i %>"><%= i %></a>
                </li>
            <% } %>
            <li class="page-item <%= output.page == output.total_pages ? "disabled" : "" %>">
                <a class="page-link" href="/search/films/<%= query %>/page/<%= output.page + 1 %>">Next</a>
            </li>
        </ul>
    </nav>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>